Flask~=2.3.2
pyjokes~=0.6.0
requests~=2.31.0
pywhatkit~=5.0
geocoder~=1.38.1
pyperclip~=1.8.2
googletrans~=4.0.0rc1
keyboard~=0.13.5
pywikihow~=0.5.7
bs4~=0.0.1
beautifulsoup4~=4.12.2
geopy~=2.3.0
pytube~=15.0.0
PyAutoGUI~=0.9.54
Pillow~=9.5.0
torch~=2.0.1
pyttsx3~=2.90
numpy~=1.24.3
nltk~=3.8.1