<!DOCTYPE html>
<html>
<head>
    <title>Flask Genie - Running Genie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Genie is Running</h1>
    <div id="output"></div>
    <script>
        const outputDiv = document.getElementById('output');
        const eventSource = new EventSource('/genie_output');

        eventSource.onmessage = function(event) {
            // Append new data to the output div
            const newContent = document.createTextNode(event.data);
            outputDiv.appendChild(newContent);
            outputDiv.appendChild(document.createElement('br'));
        };
    </script>
</body>
</html>
